/* === to-do list === */
.list__wrapper {
  padding: 20px;
  border-radius: 60px;
  box-shadow: 4px 4px 10px 1px rgba(84, 84, 84, 0.29), -4px -4px 10px 1px rgba(255, 255, 255, 0.7), inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  background: #d9d9d9;
}

.list__title {
  padding: 10px 40px;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  text-transform: uppercase;
  background: rgba(29, 29, 29, 0.2);
  display: flex;
  align-items: center;
  border-radius: 40px;
  margin-bottom: 20px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.list__item {
  box-shadow: inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7), inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25), -1px -1px 1px 0 rgba(84, 84, 84, 0.1), 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 100%;
  border-radius: 40px;
  position: relative;
  /* overflow: hidden; */
  transition: transform 0.3s, width 0.3s;
}

.space-filler {
  position: absolute;
  width: 100px;
  height: 100%;
  background: #000;
  top: 0;
  left: -100px;
  opacity: 0%;
}

.list__item-checkbox {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 2;
  top: 0;
  left: -100px;
  border-radius: 40px;
  box-shadow: inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7), inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25), -1px -1px 1px 0 rgba(84, 84, 84, 0.1), 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
}

.completed__button {
  position: absolute;
  box-shadow: 0;
  /* box-shadow: 4px 4px 10px 1px rgba(84, 84, 84, 0.29), -4px -4px 10px 1px rgba(255, 255, 255, 0.7), inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25); */
  /* box-shadow: -1px -1px 1px 0 rgba(84, 84, 84, 0.1), 1px 1px 1px 0 rgba(255, 255, 255, 0.25), inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7), inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25); */

  top: 20px;
  left: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s, background 0.3s;
}

.list__text {
  height: 100%;
  max-height: 80px;
  padding: 16px 40px;
  overflow: hidden;
  transition: max-height 0.5s;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.expand-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: rgba(29, 29, 29, 0.2);
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: blur(3px);

  transition: background 0.3s, backdrop-filter 0.3s;
}

.expand-btn img {
  width: 40px;
  height: 40px;

  transform: rotate(0deg);

  transition: transform 0.3s;
}

.list__text--expanded {
  max-height: 2000px;
}

.done {
  color: rgba(29, 29, 29, 0.5);
  text-decoration: line-through;
}

.done-btn {
  box-shadow: -1px -1px 1px 0 rgba(84, 84, 84, 0.1), 1px 1px 1px 0 rgba(255, 255, 255, 0.25), inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7), inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25);
  transition: box-shadow 0.3s;

  transition: background 0.3s;
}

.list__controls {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.list__controls-plus,
.list__controls-minus {
  user-select: none;
  height: 100%;
  border-radius: 40px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  line-height: 1;
  transition: filter 0.2s, color 0.2s;
  cursor: pointer;
  background: rgba(29, 29, 29, 0.2);
  color: #1d1d1d;

  transition: background 0.3s;
}

.list__controls-minus--active {
  background: rgba(29, 29, 29, 0.4);
}

.want-delete {
  width: calc(100% - 100px);
  transform: translateX(100px);
  user-select: none;
}

.delete-btn {
  background: url('../img/icons/cross.svg') 50% 50%/40px no-repeat;
  box-shadow: 4px 4px 10px 1px rgba(84, 84, 84, 0.29), -4px -4px 10px 1px rgba(255, 255, 255, 0.7), inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  user-select: none;
}

/* ============== MODAL ============== */
.modal {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(7px);
  background: rgba(217, 217, 217, 0.5);
  opacity: 0;
  visibility: hidden;

  transition: visibility 0.4s, opacity 0.4s;
}

.modal-open {
  visibility: visible;
  opacity: 1;
}

.modal__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__window {
  will-change: opacity;
  background: #d9d9d9;
  box-shadow: 4px 4px 10px 1px rgba(84, 84, 84, 0.29), -4px -4px 10px 1px rgba(255, 255, 255, 0.7), inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  padding: 20px;
  position: relative;
  border-radius: 60px;
  width: 1200px;
}

.modal__close-btn {
  position: absolute;
  top: -100px;
  right: 0;
  width: 80px;
  height: 80px;
  box-shadow: 4px 4px 10px 1px rgba(84, 84, 84, 0.29), -4px -4px 10px 1px rgba(255, 255, 255, 0.7), inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  background: #d9d9d9;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  user-select: none;

}

.modal__close-btn span {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.modal__input {
  box-shadow: inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7), inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25), -1px -1px 1px 0 rgba(84, 84, 84, 0.1), 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
  background: #D9D9D9;
  border-radius: 40px;
  width: 100%;
  height: 80px;
  padding: 16px 40px;
  overflow: hidden;
  font-size: 32px;
  color: rgba(29, 29, 29, 0.5);
  margin-bottom: 20px;
}

.modal__save-btn {
  background: rgba(29, 29, 29, 0.2);
  height: 80px;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  user-select: none;
}

.modal__close-btn:hover span {
  opacity: 1;
}

.modal__save-btn:hover {
  background: rgba(29, 29, 29, 0.4);
}

/* ============= MEDIA ============== */
@media (min-width: 551px) {
  .list__item:hover {
    transform: translatex(100px);
    width: calc(100% - 100px);
  }

  .list__item-checkbox:hover .completed__button {
    box-shadow: 4px 4px 10px 1px rgba(84, 84, 84, 0.29), -4px -4px 10px 1px rgba(255, 255, 255, 0.7), inset -1px -1px 1px 0 rgba(84, 84, 84, 0.1), inset 1px 1px 1px 0 rgba(255, 255, 255, 0.25);
    transition: box-shadow 0.3s;
  }

  .list__item-checkbox:hover .completed__button.done-btn {
    box-shadow: -1px -1px 1px 0 rgba(84, 84, 84, 0.1), 1px 1px 1px 0 rgba(255, 255, 255, 0.25), inset -4px -4px 10px 0 rgba(255, 255, 255, 0.7), inset 4px 4px 10px 0 rgba(84, 84, 84, 0.25);
    transition: box-shadow 0.3s;
  }

  .expand-btn:hover {
    background: rgba(29, 29, 29, 0.3);
    backdrop-filter: blur(1px);
  }

  .list__controls-plus:hover,
  .list__controls-minus:hover {
    background: rgba(29, 29, 29, 0.3);
  }

  .list__controls-plus:active,
  .list__controls-minus:active {
    background: rgba(29, 29, 29, 0.4);
  }

  .list__controls-minus--active:hover {
    background: rgba(29, 29, 29, 0.4);
  }
}

@media (max-width: 750px) {}

@media (max-width: 550px) {

  .list__wrapper {
    border-radius: 50px;
  }

  .list__item {
    border-radius: 30px;
  }

  .list__item--swiped {
    transform: translatex(70px);
    width: calc(100% - 70px);
  }

  .list__title {
    font-size: 20px;
    padding: 15px 20px;
    margin-bottom: 8px;
  }

  .to-do-list {
    gap: 10px;
    padding: 2px 0;
  }

  .list__text {
    max-height: 60px;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 30px;
  }

  .list__text--expanded {
    max-height: 2000px;
  }

  .expand-btn {
    right: 10px;
    top: 10px;
  }

  .list__item-checkbox {
    width: 60px;
    height: 60px;
    left: -70px;
    top: calc(50% - 30px);
  }

  .completed__button {
    top: 15px;
    left: 15px;
    /* width: calc(100% - 30px); */
    /* height: calc(100% - 30px); */
    width: 30px;
    height: 30px;
  }

  .list__controls {
    margin-top: 10px;
    gap: 10px;
  }
.list__controls-plus,
.list__controls-minus {
  border-radius: 30px;
  height: 60px;
  font-size: 26px;
}

  .want-delete {
    transform: translatex(70px);
    width: calc(100% - 70px);
  }

  .delete-btn {
width: 30px;
height: 30px;
  }

  .modal__window {
    padding: 5px;
  }

  .modal__input {
    height: 60px;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 15px 9px;
  }

  .modal__close-btn {
    top: -55px;
    font-size: 40px;

  }

  .modal__save-btn {
    font-size: 28px;
  }


}

@media (max-width: 350px) {
  .list__title-text-elem {
    font-size: 25px;
    padding: 11px 9px;
  }

  .list__text {
    font-size: 16px;
    padding: 18px 9px;
  }

  .modal__input {
    font-size: 16px;
    padding: 18px 9px;
  }

  .modal__save-btn {
    font-size: 25px;
  }


}