/* =========== CLICKER ========== */
.clicker__interface {
  background: #1c1c1c;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  gap: 15px;
}

.controls {
  width: 100%;
  max-width: 650px;
}

.controls__balance {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 40px;
}

.controls__balance span {
  display: block;
  font-weight: 700;
  font-size: 40px;
}

.controls__button {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #232323;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  user-select: none;

  transition: background 0.2s, transform 0.2s;
}

.controls__button:active {
  transform: scale(0.98);
  background: #585858;
}

.upgrades {
  width: 100%;
  max-width: 505px;
  background: #232323;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.upgrades__element {
  display: flex;
  gap: 5px;
}

.upgrades__element>div {
  border-radius: 10px;
  background: #1c1c1c;
}

.upgrades__bought {
  width: 90px;
  height: 85px;
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.upgrades__description {
  padding: 0 13px;
  width: 100%;
  min-width: 263px;
  max-width: 305px;
  height: 85px;
  font-size: 34px;
}

.upgrades__description span {
  font-size: 22px;
  display: block;
}

.upgrades__buy-btn {
  cursor: pointer;
  padding: 5px 2px;
  width: 90px;
  text-align: center;
  height: 85px;
  font-size: 34px;
  flex-shrink: 0;


  transition: background 0.2s, transform 0.2s;
  user-select: none;
}

.upgrades__buy-btn:active {
  background: #585858;
}

.upgrades__buy-btn span {
  display: block;
  font-size: 16px;
}

.upgrades__buy-btn--disabled {
  cursor: not-allowed;
}

.upgrades__buy-btn--disabled:active {
  background: #1c1c1c;
}



.upgrades__element--1 {}

.upgrades__element--2 {}

.upgrades__element--3 {}

.upgrades__element--4 {}

.upgrades__element--5 {}

/* =========== @media =========== */

@media (min-width: 551px) {
  .controls__button:hover {
    background: #585858;
  }

  /* add hovers for PC ^ */
}

@media (max-width: 750px) {
  .clicker__interface {
    flex-direction: column;
  }

  .controls {
    max-width: 680px;
  }

  .upgrades {
    max-width: 680px;
  }

  .upgrades__description {
    min-width: 263px;
    max-width: 480px;
  }

}

@media (max-width: 550px) {
.clicker__interface {
  padding: 5px;
  gap: 5px;
}

.controls__balance {
  padding-bottom: 15px;
  font-size: 30px;
}

.upgrades {
  max-width: 500px;
}

.upgrades__bought{
  min-width: 47px;
  width: 100%;
  max-width: 90px;
  flex-shrink: 1;
}
.upgrades__description {
  padding: 0 10px;
}

}

@media (max-width: 500px) {

.upgrades {
  width: 100%;
  min-width: 300px;
}

.upgrades__bought {
  height: 73px;
  font-size: 20px;
  max-width: 77px;
  /* flex-shrink: 0; */
}

.upgrades__description {
  padding: 12px 8px 7px;
  min-width: 146px;
  height: 73px;
  font-size: 18px;
}

.upgrades__description span {
  font-size: 18px;
}

.upgrades__buy-btn {
  padding: 5px 8px;
  width: 77px;
  height: 73px;
  font-size: 28px;
}

.upgrades__buy-btn span {
  font-size: 14px;
}


}


@media (max-width: 340px) {}